<section class="cover-background bg-dark-gray" style="height: 100vh;">
    <div class="container h-100 pt-50px">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-12 col-xl-12 col-lg-12 col-md-12 text-center">
                <img class="mb-30px"
                     src="https://ik.imagekit.io/godparticles/website-development/thankyou.png?updatedAt=1737530961921"
                     width="200px" />
                <h4 class="text-base-color fw-600 sm-fs-22 mb-10px ls-minus-1px">
                    Thank you for your enquiry!
                </h4>
                <p class="mb-30px lh-28 sm-mb-30px w-55 md-w-80 sm-w-95 mx-auto text-white">
                    Our team will get back to you shortly with all
                    the details.
                </p>
                <!-- <a class="btn btn-large left-icon btn-rounded btn-dark-gray btn-box-shadow text-transform-none"
                   href="home" target="_blank">
                    <i class="fa-solid fa-home"></i>Back to homepage
                </a> -->
            </div>
        </div>
    </div>
</section>
