<header>
    <nav class="navbar navbar-expand-lg header-transparent bg-transparent header-reverse"
         data-header-hover="light">
        <div class="container-fluid">
            <div class="col-auto col-lg-2 me-lg-0 me-auto">
                <a class="navbar-brand" href="/">
                    <img src="https://ik.imagekit.io/godparticles/website-development/logo-white.png?updatedAt=1737538814635" alt class="default-logo"/>
                    <img src="https://ik.imagekit.io/godparticles/website-development/logo.png?updatedAt=1737538814483" alt class="alt-logo" />
                    <img src="https://ik.imagekit.io/godparticles/website-development/logo.png?updatedAt=1737538814483" alt class="mobile-logo" style="max-height: 60px;"/>
                </a>
            </div>
            <div class="col-auto col-lg-2 text-end d-sm-flex">
                <div class="header-icon">
                    <div class="header-button">
                        <a class="btn border-1 bg-base-color btn-small left-icon btn-switch-text btn-rounded"
                           href="#">
                            <span>
                                <span>
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                <span class="btn-double-text"
                                      data-text="Quick Enquiry">
                                    Quick Enquiry
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- header end -->

<section class="full-screen ipad-top-space-margin md-h-550px bg-dark-gray">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-12 col-xl-6 col-lg-7 col-md-9 text-center">
                <h6 class="text-white fw-600 mb-5px text-uppercase">
                    Ooops!
                </h6>
                <h1 class="fs-200 sm-fs-170 text-base-color fw-700">
                    404
                </h1>
                <h4 class="text-white fw-600 sm-fs-22 mb-10px mb-5">
                    Page not found!
                </h4>
                <a class="btn btn-large left-icon btn-rounded btn-dark-gray btn-box-shadow text-transform-none"
                   href="home">
                    <i class="fa-solid fa-arrow-left"></i>Back to homepage
                </a>
            </div>
        </div>
    </div>
</section>

<footer class="pt-40px pb-40px footer-demo bg-dark-slate-blue">
    <div class="container">
        <div class="row mb-8">
            <div class="col-12">
                <div class="fs-70 md-fs-70 xs-fs-50 fw-700 text-white lh-100 md-lh-80 xs-lh-60">
                    Got a project in mind?
                </div>
                <a class="alt-font font-style-italic text-white fs-80 md-fs-70 xs-fs-32 fw-700 lh-120 md-lh-95 xs-lh-60 float-end" href="mailto:sales@godparticles.in">
                    {{emailContact}}
                </a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-xl-4 col-sm-6 ms-auto order-1 xs-mb-10px text-center text-sm-start overflow-hidden">
                <span class="fs-16 fw-600 text-white fancy-text-style-4">
                    <p class="fs-16 mb-0">
                        <i class="fa-solid fa-phone text-white me-5px"></i>
                        +91 99627 30810 / +91 99622 10810
                    </p>
                </span>
            </div>
            <div class="col-12 col-xl-4 col-sm-6 text-white text-center last-paragraph-no-margin order-3 order-xl-2 lg-mt-10px xs-mt-0">
                <p class="fs-16">
                    &copy; 2025 God Particles. All Rights Reserved
                </p>
            </div>
            <div class="col-12 col-xl-4 col-sm-6 text-end order-2 xs-mb-10px text-center text-sm-end">
                <div class="elements-social social-icon-style-09">
                    <ul class="medium-icon light">
                        <li>
                            <a class="facebook"
                               href="https://www.facebook.com/GodParticlesOfficial"
                               target="_blank">
                                <i class="fa-brands fa-facebook-f"></i>
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a class="instagram"
                               href="https://www.instagram.com/godparticles_official/"
                               target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a class="linkedin"
                               href="https://www.linkedin.com/company/god-particles/posts/?feedView=all"
                               target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a class="whatsapp"
                               href="https://api.whatsapp.com/send/?phone=9962730810&text=Hello%2C+I+have+a+question+about+your+service.+Can+you+please+help+me%3F&type=phone_number&app_absent=0"
                               target="_blank">
                                <i class="fa-brands fa-whatsapp"></i>
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
