header .navbar-brand img {
    max-height: 75px;
}

.portfolio-filter li {
    padding: 0px 12px;
}

.nav-tabs .nav-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 200px;
}

.nav-tabs .nav-item a {
    flex: 1 1 auto;
}

@media (max-width: 768px) {
    .nav-tabs .nav-item {
        width: 50%; /* Two columns */
    }
}

.tab-style-02 .nav-tabs>li.nav-item>a.nav-link.active{
    border-bottom: none !important;
}
.tab-style-02 .nav-tabs>li.nav-item>a.nav-link:hover {
    border-bottom: none !important;
}