.chart-container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin: auto;
    position: relative; /* Needed for Chart.js responsiveness */
    color: #fff;
  }
  canvas {
    height: 100% !important; /* Force canvas to fill parent height */
    width: 100% !important;  /* Force canvas to fill parent width */
  }
  